

.container {
    display: flex;
    width: 100%; 
    justify-content: center; 
    align-items: center; 
  }
  
  .left-panel {
    flex: 1;
    padding: 20px;
    background-color: #f2f2f2;
  }
  
  .main-content {
    flex: 3;
    padding: 20px;
  }
  
  .table-container {
    margin: 0 auto; 
    width: 60%; 
  }
  .table {
    width: 100%; 
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .table th {
    background-color: #ffffff;
    color: #333;
  }
  
  
  
  .btn {
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
  }
  
  .btn-secondary {
    background-color: #197a36;
    color: #fff;
    border: none;
  }
  
  .btn-primary:hover,
  .btn-secondary:hover {
    opacity: 0.8;
  }