<div class="table-container"> 
    <h2>Search Tickets</h2>
    <table class="table">
    <thead>
        <tr>
        <th>ID</th>
        <th>Created By</th>
        <th>Created Date/Time</th>
        <th>Days to Close</th>
        <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ticket of tickets">
        <td>{{ ticket.id }}</td>
        <td>{{ ticket.createdBy }}</td>
        <td>{{ ticket.createdDateTime }}</td>
        <td>{{ ticket.daysToClose }}</td>
        <td>
            <button class="btn btn-primary" (click)="viewTicket(ticket.id)">View</button>
            <button class="btn btn-secondary" (click)="updateTicket(ticket.id)" [routerLink]="['/update', ticket.id]">Update</button>
        </td>
        </tr> 
    </tbody>
    </table>
</div>
<div>
    <router-outlet></router-outlet>
</div>

